---
import Layout from '@layouts/SampleLayout.astro';
---

<Layout title="New Design">
  <main>
  <div
    class="flex flex-col pb-2 space-y-6 md:space-y-0 md:flex-row justify-between"
  >
    <h1 class="text-2xl font-semibold mb-2">Welcome To Dashboard</h1>
  </div>
  <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
    <div class="flex items-center p-6 bg-white shadow rounded-lg">
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-primary bg-primary/20 rounded-full mr-6"
      >
        <i class="fa-solid fa-users text-xl"></i>
      </div>
      <div>
        <span class="block text-2xl font-bold">89562</span>
        <span class="block text-gray-500">Daily Unique Visitors</span>
      </div>
    </div>
    <div class="flex items-center p-6 bg-white shadow rounded-lg">
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-success bg-success/20 rounded-full mr-6"
      >
        <i class="fa-solid fa-arrow-trend-up text-xl"></i>
      </div>
      <div>
        <span class="block text-2xl font-bold">27.6%</span>
        <span class="block text-gray-500">CTR</span>
      </div>
    </div>
    <div class="flex items-center p-6 bg-white shadow rounded-lg">
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-error bg-error/20 rounded-full mr-6"
      >
        <i class="fa-solid fa-arrow-trend-down text-xl"></i>
      </div>
      <div>
        <span class="inline-block text-2xl font-bold">3m 45s</span>
        <span class="inline-block text-xl text-gray-500 font-semibold"
          >(-32%)</span
        >
        <span class="block text-gray-500">Average Engagement Time</span>
      </div>
    </div>
    <div class="flex items-center p-6 bg-white shadow rounded-lg">
      <div
        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-accent bg-accent/20 rounded-full mr-6"
      >
        <i class="fa-solid fa-list-check text-xl"></i>
      </div>
      <div>
        <span class="block text-2xl font-bold">956326</span>
        <span class="block text-gray-500">Event Count</span>
      </div>
    </div>
  </section>
</main>
</Layout>
