---
import Layout from '@layouts/SampleLayout.astro';
const params = Astro.params;
for (const [key, value] of Object.entries(params)) {
  console.log(key, value);
}
console.log('start');

---
<Layout title="vue">
<div
  hx-get="/todosx/main"
  hx-trigger="load"
  hx-swap="innerHTML"
></div>
</Layout>