---
export const partial = true;

let completedCount = 0;
let total = 0;
let categoriesCount = [];
let categories = [];

try {
  categories = await (await fetch('http://localhost:3000/categories')).json();
  const todos = await (await fetch('http://localhost:3000/todos')).json();

  total = todos.length;
  completedCount = 0;
  categoriesCount = [];

  categories.forEach((category) => {
    categoriesCount[category.id] = 0;
  });

  todos.forEach((todo) => {
    categoriesCount[todo.categoryId] += 1;
    if (todo.completed) {
      completedCount += 1;
    }
  });
} catch (error) {
  console.error(error);
}
---

<section class="container">
  <div class="flex flex-col h-20 p-2 text-md bg-neutral">
    <div
      class="flex justify-center items-center flex-grow text-neutral-content text-xl font-bold"
    >
      Cagetory Summary
    </div>
    <div class="bg-accent text-accent-content border-none badge badge-sm self-end">
      {completedCount}/{total}
    </div>
  </div>
  {categories.map(category => (
    <div class="flex flex-row items-center px-2 h-10 border-x-[1px] border-b-[1px]">
      <a href="#" class="flex-grow">{category.category}</a><span
        class="badge badge-sm indicator-item text-white bg-accent border-none"
        >{categoriesCount[category.id]}</span
      >
    </div>
  ))}
</section>
