---
import Partial from '@layouts/Partial.astro';
import AppA from '@pages/play/AppA.astro';
import AppB from '@pages/play/AppB.astro';
import AppAlpine from '@pages/play/AppAlpinejs.astro';

---
<Partial>
  <div class="grid-row-2 grid w-full h-full gap-4 mt-20">
    <AppA eventName="card-update"/>
    <AppAlpine/>
    <AppB />
  </div>
</Partial>
