---
export const partial = true;
---
<section class="px-6 py-1  bg-white border-t-[1px]">
  <div class="text-sm breadcrumbs text-slate-400">
    <ul>
      <li><a>Home</a></li>
      <li><a>Documents</a></li>
      <li>Add Document</li>
    </ul>
  </div>
</section>
