---
// export const partial = true;
---

<section class="flex items-center">
  <nav class="bg-gray-800 text-white p-4 w-full">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Left Aligned Menu Items -->
      <div class="flex items-center space-x-4">
        <a href="/htmx/main" class="hover:bg-gray-700 px-3 py-2 rounded w-24 text-center">Todosx</a>
        <a href="#" class="hover:bg-gray-700 px-3 py-2 rounded w-24 text-center">Vue</a>
        <a href="#" class="hover:bg-gray-700 px-3 py-2 rounded w-24 text-center">iFrame</a>
      </div>

      <!-- Right Aligned Menu Items -->
      <div class="flex items-center space-x-4">
        <a href="#" class="hover:bg-gray-700 px-3 py-2 rounded">Blog</a>
        <a href="#" class="hover:bg-gray-700 px-3 py-2 rounded">Contact</a>
      </div>
    </div>
  </nav>
</section>
