---
// export const partial = true;
---

<section
  class="flex px-4 items-center justify-end text-md hover:bg-gray-600 bg-gray-800 text-gray-400 border-t-[1px] border-gray-600"
>
  <a href="#">설정 <i class="fa-solid fa-gear text-lg"></i></a>
</section>
