---
// export const partial = true;
---
<section class="bg-gray-800 text-gray-400 overflow-auto">
<ul class="m-4">
  <li class=""><a href="/htmx/main" class="hover:bg-gray-600 text-lg"><i class="fa-brands fa-html5 text-xl mr-2"></i>Htmx Remote</a>
    <ul class="mx-4 mb-2">
      <li ><a href="/htmx/todo" class="hover:bg-gray-600 text-base"><i class="fa-solid fa-list-ol  mr-2" ></i>Todos</a></li>
      <li ><a href="/htmx/register" class="hover:bg-gray-600 text-base"><i class="fa-solid fa-folder-plus  mr-2"></i>Register</a></li">
      <li ><a href="/htmx/category" class="hover:bg-gray-600 text-base"><i class="fa-solid fa-layer-group  mr-2"></i>Categories</a></li>
    </ul>
  </li>
  <li class="hover:bg-gray-600"><a><i class="fa-brands fa-vuejs text-lg mr-2"></i>Vue</a></li class="hover:bg-gray-600">
  <li class="hover:bg-gray-600"><a><i class="fa-solid fa-arrow-up-right-from-square text-lg mr-2"></i>iFrame</a></li>
  <li class="hover:bg-gray-600"><a href="/design"><i class="fa-brands fa-css3 text-lg mr-2"></i>CSS System</a></li>
</ul>
</section>
