---
export const partial = true;
---
<section id="c3" class="bg-gray-800 text-gray-400 overflow-auto">
<ul class="menu w-full ">
  <li class="menu-title text-gray-100 text-lg">SideBar Menu</li>
  <li class="hover:bg-gray-600"><a><i class="fa-brands fa-html5 text-lg"></i>Htmx Example</a></li>
  <li class="hover:bg-gray-600"><a><i class="fa-brands fa-vuejs text-lg"></i>Vue</a></li class="hover:bg-gray-600">
  <li class="hover:bg-gray-600"><a><i class="fa-solid fa-arrow-up-right-from-square text-lg"></i>iFrame</a></li>
  <li class="hover:bg-gray-600"><a href="/design"><i class="fa-brands fa-css3 text-lg"></i>CSS System</a></li>
</ul>
</section>
