---
import Layout from '@layouts/Layout.astro';
---

<!-- <Layout > -->
  <div>This text is outside the flex container.</div>
  <div style="display: inline-flex; background-color: lightgray; padding: 10px; width:100%">
    <div style="flex-grow">First item</div>
    <div>Second item</div>
  </div>
  <div>This text is also inline with the flex container</div>
<!-- </Layout> -->
<style>
  div.container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .item-0 {
    display: inline-flex;
    border: solid 1px red;
  }

  .item-1 {
    border: solid 1px green;
  }

  .item-2 {
    border: solid 1px blue;
  } 
</style>
