---
import Layout from '@layouts/Layout.astro';
import TodoCategorySummary from '@components/TodoCategorySummary.astro';
import TodoList from '@components/TodoList.astro';
---

<Layout title="Htmx App">
  <main class="flex-rows justify-stretch flex gap-3">
    <div class="w-1/4">
      <TodoCategorySummary />
    </div>
    <div class=" flex-grow">
      <TodoList />
    </div>
  </main>
</Layout>
