---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Htmx App">
  <main>
  <div class="h-screen grid grid-cols-[2fr,3fr]">
    <div class="bg-slate-300">Left</div>
    <div class="bg-slate-700">right</div>
  </div>
</main>
</Layout>
